<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 365 Beauty Salon</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/ca80878e94.js" crossorigin="anonymous"></script><!--FontAwesome-->
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand">Navbar</a>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-center text-lg-start bg-light text-muted">
            <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
                <div class="me-5 d-none d-lg-block">
                    <span>Conectate con nosotros en las redes sociales:</span>
                </div>
                <div>
                    <a href="https://www.facebook.com/365beauty.hn" class="me-4 text-reset">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="" class="me-4 text-reset">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="" class="me-4 text-reset">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="https://api.whatsapp.com/send?phone=%2B50498083843&data=AWCg4r_N0IIkjACs4vM_wN7haB1ap3I7ezh7fyQA47Rl_QjxTaty42tfVdwe6ZHn4tuY9XGtrFkbbjRVg3JkaZWsccDibsSnGrU7OFErYVocIu2NMp3xEvomy8SqvBE5P0mmRuRCn91wn21Lzz_BRXXxYjOi6yctoJ5B5vgxAXrV7CWlrYwRoM2JOAH9PUJZ6SmYw0guRSfM-c_qrMvOHczwVUv6HAONGhak74WhyjsXa1j6VytVHfGnwKgc8vaeo31Hmi3u795JabDVM5fO-Q&source=FB_Page&app=facebook&entry_point=page_cta&fbclid=IwAR3IYoR8Y26OP2-A7e-5BBQXJP_UkgoPfUT-QFnO8-MHY1LmTb-ONFOJr4E" class="me-4 text-reset">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                </div>
            </section>
            <section class="">
                <div class="container text-center text-md-start mt-5">
                    <div class="row mt-3">
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold mb-4">
                                <i class="fa-solid fa-store"></i>365 Beauty Salon
                            </h6>
                            <p>
                                Nuestra vision es satisfacer las necesidades de belleza
                                de nuestros clientes mediante servicios de alta calidad.
                            </p>
                        </div>
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
                            <p><i class="fas fa-home me-3"></i> Colonia las Minitas, avenida Juan Lindo, C. Real de Minas, Tegucigalpa</p>
                            <p>
                                <i class="fas fa-envelope me-3"></i>
                                365beautysalon@gmail.com
                            </p>
                            <p><i class="fas fa-phone me-3"></i> +504 9808-3843</p>
                        </div>
                    </div>
                </div>
            </section>
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
                © @DateTime.Now.Year Copyright:
                <a class="text-reset fw-bold" href="https://github.com/cedilloER/Proyecto_Web_Ingenieria_de_Software">Grupo #1 Ingenieria de Software</a>
            </div>
            <!-- Copyright -->
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
