
@{
    ViewBag.Title = "Nuevo Servicio";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    List<SelectListItem> skills = (List<SelectListItem>)ViewBag.Skill;
}

@model Proyecto_Web_Ingenieria_de_Software.Models.AddModels.ServiciosModel

<link rel="stylesheet" href="~/Content/styleUsuarios.css" />

<div class="serviciosDiv mb-5 p-5">
    @using (Html.BeginForm("Agregar", "Servicios", FormMethod.Post, new { role = "form" }))
    {
        <div class="row">
            <div class="col-8">
                <h1 class="t-stroke">Nuevo Servicio</h1>
            </div>
        </div>
        <hr class="text-black-50" />

        <div class="row">
            <div class="col-6 border-end">
                <div class="row mt-3">
                    <div class="col">
                        @Html.Label("Nombre", new { @class = "form-label" })
                        @Html.TextBoxFor(d => d.nombre, new { @class = "form-control" })
                    </div>
                    <div class="col">
                        @Html.Label("Precio", new { @class = "form-label" })
                        @Html.TextBoxFor(d => d.precio, new { @class = "form-control" })
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        @Html.Label("Habilidad requerida", new { @class = "form-label" })
                        @Html.DropDownListFor(d => d.skill, skills, new { @class = "form-select" })
                    </div>
                    <div class="col">
                        @Html.Label("Descripción del servicio", new { @class = "form-label" })
                        @Html.TextAreaFor(d => d.descripcion, new { @class = "form-control" })
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        @Html.Label("Inpuesto", new { @class = "form-label" })
                        @Html.TextBoxFor(d => d.impuesto, new { disabled = "disabled", @class = "form-control" })
                    </div>
                    <div class="col">
                        @Html.Label("Precio total", new { @class = "form-label" })
                        @Html.TextBoxFor(d => d.precioTotal, new { disabled = "disabled", @class = "form-control" })
                    </div>
                </div>
            </div>
            

            <div class="col-6">

                @Html.Label("Insumos necesarios", new { @class = "form-label" })
                <div class="row">
                    <div class="col">
                        @Html.Label("Codigo", new { @class = "form-label" })
                        <div class="d-flex">
                            <input name="search" id="search" type="search" class="form-control form-control-sm rounded" placeholder="Buscar por codigo" aria-label="Search" aria-describedby="search-addon" />
                            <button class="btn btn-sm btn-success" type="submit" id="searchBnt" name="searchBtn">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col">
                        @Html.Label("Nombre de producto", new { @class = "form-label" })
                        @Html.TextBox("Pnombre", "", new { disabled = "disabled", @class = "form-control form-control-sm" })
                    </div>
                    <div class="col">
                        @Html.Label("Cantidad", new { @class = "form-label" })
                        @Html.TextBox("cantidad", "", new { @class = "form-control form-control-sm" })
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col d-flex justify-content-center">
                        <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#BuscarInsumo">Buscar insumo</button>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <button type="button" class="btn btn-sm btn-success">Agregar insumo</button>
                    </div>
                </div>

                <hr class="text-black-50" />

                <div class="row p-2" style="height: 220px; overflow: auto; ">
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">C/U</th>
                                <th scope="col">Total</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Uña</td>
                                <td>10</td>
                                <td>15</td>
                                <td>150</td>
                                <td><button type="button" class="btn btn-sm btn-danger" onclick="">Quitar</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <hr class="text-black-50" />

        <div class="row mt-3">
            <div class="col-6 d-flex justify-content-center">
                <button type="button" class="btn btn-danger" onclick="document.location.href = '@Url.Content("~/Servicios")'">Cancelar</button>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <button type="submit" class="btn btn-success">Agregar</button>
            </div>
        </div>
    }
</div>