
@{
    ViewBag.Title = "Configuración General";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    List<Proyecto_Web_Ingenieria_de_Software.Models.Salon> salon = ViewBag.salon;
}

<link rel="stylesheet" href="~/Content/styleParametros.css" />

<div class="parametrosDiv mb-5">
    <div class="row">
        <div class="col-8">
            <h1 class="t-stroke">Parametros Generales</h1>
        </div>
    </div>
    <div class="Datos">
        @foreach (var s in salon)
        {
            <p> <h2>@s.Name</h2></p>

            <p><h6><i class="fas fa-home me-3"></i>Direccion: </h6> @s.Address </p>
            <p> <h6><i class="fa-brands fa-facebook iconRedes"></i> Facebook: </h6> @s.Facebook</p>
            <p> <h6><i class="fa-brands fa-instagram iconRedes"></i> Instagram: </h6> @s.Instagram</p>
            <p> <h6><i class="fa-brands fa-facebook iconRedes"></i> Whatsapp</h6> @s.WhatsApp</p>
            <p><h6> <i class="fa-solid fa-envelope"></i> Correo Electronico:  </h6>@s.Email</p>
            <p><h6> <i class="fa-solid fa-hand-holding-heart"></i> Mision: :  </h6>@s.Mision</p>

            <button class="btn btn-success" onclick="document.location.href = '@Url.Content("~/General/Editar/")'+ + @s.ID">Editar Parametros</button>
        }

    </div>
    
</div>



                        