@using Proyecto_Web_Ingenieria_de_Software.Models.VentasModel;

@{
    ViewBag.Title = "CrearVenta";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model Proyecto_Web_Ingenieria_de_Software.Models.AddModels.FacturaModel


<script src="~/Scripts/AccionesVentas.js"></script>

<script>


    $(function () {

        //Botón de búsqueda de producto
        $("#searchBnt").click(function () {
            var encontroProducto = false;

            if ($("#search").val() == "") {
                alert("Campo de busqueda vacio");
                $("#idProduct").val("");
                $("#nombreProduct").val("");
                $("#precioProduct").val("");
                $("#cantProduct").val("");
            } else {
                var url = '@Url.Action("BuscarProducto", "Servicios")';
                var buscar = $("#search").val();
                var data = { codigo: buscar };
                
                $.get(url, data).done(function (data) {
                    if (data.encontrado == true) {
                        $("#idProduct").val(data.ID);
                        $("#nombreProduct").val(data.ProductName);
                        $("#precioProduct").val(data.Price);
                        encontroProducto = true;
                    }
                });

            }

            
            if (!encontroProducto) {
                url = '@Url.Action("buscarServicio", "Servicios")'; //ahora busco servicio
                data = { codigo: buscar };  

                $.get(url, data).done(function (data) {                    
                    if (data.encontrado) {
                        alert('nulo');
                        $("#idProduct").val(data.ID);
                        $("#nombreProduct").val(data.ServiceName);
                        $("#precioProduct").val(data.Price);
                    } else {
                        $("#idProduct").val("");
                        $("#nombreProduct").val("");
                        $("#precioProduct").val("");
                        $("#cantProduct").val("");
                        alert('No se encontro producto o servicio');
                    }
                });

            }



        });

    });

    var productos = new Array;


    function llenarPrecio() {
        var precio = $('#ddlProductos option:selected').data('precio');
        var labelPrecio = document.getElementById("priceProduct");

        labelPrecio.innerHTML = precio;
    }

    function agregarProducto() {
        var descripcion = $('#ddlProductos option:selected').text();
        var precio = $('#ddlProductos option:selected').data('precio');
        var idProducto = $('#ddlProductos').val();

        if (idProducto !== '') {
            var fila = '<tr> <td>' + descripcion + '</td> <td>' + precio + '</td>' +
                '<td><button type="button">-</button></td></tr>';

            $('#tblProductos tbody').append(fila);


            var nvoProducto = {
                Producto: {
                    idProducto: idProducto,
                    precio: precio
                }
            }

            productos.push(nvoProducto);
            console.log(productos);


        }



    }


</script>

<h2>Crear Venta</h2>

<div class="container">

    @using (Html.BeginForm("Agregar", "Ventas", FormMethod.Post))
    {
        @Html.Hidden("accion", new {@value="venta"} );

        <div style="display:inline-block; width:50%;">
            <div>
                <label>Fecha:</label>
                @Html.TextBoxFor(model => model.time, new { @Value = @DateTime.Now.ToShortDateString(), @readonly = "readonly" })
            </div>

            <div>
                <label>Cliente:</label>
                @Html.TextBoxFor(model => model.clientName)
            </div>

            <div>
                <h3>Productos</h3>
            </div>

        </div>

        <hr class="text-black-50" />

        <div class="col-6">
            <div class="row">
                <div class="col d-flex">
                    <input name="search" id="search" type="search" class="form-control form-control-sm rounded" placeholder="Buscar por codigo" aria-label="Search" aria-describedby="search-addon" />
                    <button class="btn btn-sm btn-success" type="button" id="searchBnt" name="searchBtn">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <label class="form-label">ID</label>
                    @Html.TextBox("idProduct", "", new { disabled = "disabled", @class = "form-control form-control-sm" })
                </div>
                <div class="col">
                    <label class="form-label">Nombre</label>
                    @Html.TextBox("nombreProduct", "", new { disabled = "disabled", @class = "form-control form-control-sm" })
                </div>
                <div class="col">
                    <label class="form-label">Precio</label>
                    @Html.TextBox("precioProduct", "", new { disabled = "disabled", @class = "form-control form-control-sm" })
                </div>
                <div class="col">
                    <label class="form-label">Cantidad</label>
                    @Html.TextBox("cantProduct", "", new { @class = "form-control form-control-sm" })
                </div>
            </div>

            <div class="row mt-3">
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-sm btn-success" id="addProducto">Agregar</button>
                </div>
            </div>

        </div>


        <div style="display: inline-block; width: 50%;">
            <div class="container text-center" id="productsAdded">
                <table id="tblProductos">
                    <thead>
                        <tr>
                            <th>Descripci&oacute;n</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Crear</button>
        </div>

    }


    </div>