@using Proyecto_Web_Ingenieria_de_Software.Models.VentasModel;

@{
    ViewBag.Title = "CrearVenta";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model Proyecto_Web_Ingenieria_de_Software.Models.AddModels.FacturaModel


<script>

    var detalleFactura = [];

    function llenarPrecio() {
        var precio = $('#ddlProductos option:selected').data('precio');
        var labelPrecio = document.getElementById("priceProduct");

        labelPrecio.innerHTML = precio;
    }

    function agregarProducto() {
        var descripcion = $('#ddlProductos option:selected').text();
        var precio = $('#ddlProductos option:selected').data('precio');
        var idProducto = $('#ddlProductos option:selected').val();

        var fila = '<tr> <td>' + descripcion + '</td> <td>' + precio + '</td>' +
            '<td><button type="button">-</button></td></tr>';

        $('#tblProductos tbody').append(fila);


        detalleFactura.push({
            IdProducto: idProducto,
            precio: precio
        });        
    }





</script>

<h2>Crear Venta</h2>

<div class="container">

    @using (Html.BeginForm("Agregar", "Ventas", FormMethod.Post))
    {

        <div style="display:inline-block; width:50%;">
            <div>
                <label>Fecha:</label>
                @Html.TextBoxFor(model => model.time)
            </div>

            <div>
                <label>Cliente:</label>
                @Html.TextBoxFor(model => model.clientName)
            </div>

            <div>
                <h3>Productos</h3>
            </div>

            <div>
                <table>
                    <tr>
                        <td>
                            <label>
                                Descripci&oacute;n
                            </label>
                        </td>
                        <td>
                            <label>
                                Precio
                            </label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <select id="ddlProductos" onchange="llenarPrecio()">
                                <option value="">Seleccione Producto</option>
                                @foreach (ProductsViewModel item in ViewBag.listaProductos)
                                {
                                    <option value="@item.ID" data-precio="@item.Price">@item.ProductName</option>
                                }
                            </select>
                        </td>

                        <td>
                            <label id="priceProduct">
                                0.00
                            </label>
                        </td>

                        <td>
                            <button type="button" onclick="agregarProducto();">+</button>
                        </td>

                    </tr>


                </table>
            </div>

        </div>

        <div style="display: inline-block; width: 50%;">
            <div class="container text-center" id="productsAdded">
                <table id="tblProductos">
                    <thead>
                        <tr>
                            <th>Descripci&oacute;n</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Crear</button>
        </div>

    }
</div>