@using Proyecto_Web_Ingenieria_de_Software.Models.VentasModel;

@{
    ViewBag.Title = "CrearVenta";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model Proyecto_Web_Ingenieria_de_Software.Models.AddModels.FacturaModel


<script src="~/Scripts/AccionesVentas.js"></script>

<script>

    $(function () {

        $("#searchBnt").click(function () {
            var encontroProducto = false;

            if ($("#search").val() == "") {
                alert("Campo de busqueda vacio");
                $("#idProduct").val("");
                $("#nombreProduct").val("");
                $("#precioProduct").val("");
                $("#cantProduct").val("");
            } else {
                var url = '@Url.Action("BuscarProducto", "Servicios")';
                var buscar = $("#search").val();
                var data = { codigo: buscar };

                $.get(url, data).done(function (data) {
                    if (data.encontrado == true) {
                        $("#idProduct").val(data.ID);
                        $("#nombreProduct").val(data.ProductName);
                        $("#precioProduct").val(data.Price);
                        encontroProducto = true;
                    }
                });

                if (!encontroProducto) {                    
                    url = '@Url.Action("buscarServicio", "Servicios")'; //ahora busco servicio
                    data = { codigo: buscar };

                    $.get(url, data).done(function (data) {
                        if (data.encontrado) {
                            $("#idProduct").val(data.codigo);
                            $("#nombreProduct").val(data.nombre);
                            $("#precioProduct").val(data.precio);
                        } else {
                            $("#idProduct").val("");
                            $("#nombreProduct").val("");
                            $("#precioProduct").val("");
                            $("#cantProduct").val("");
                            alert('No se encontro producto o servicio');
                        }
                    });
                    
                }
            }


        });


        //Botón guardar
        $("#crearVenta").click(function () {
            let time = 'time';
            let totalVenta = $("#totalVenta").val();
            let tax = $("#isv").val();
            let clientName = $('#clientName').val();


            let data = {
                Factura: {
                    time: time,
                    total : totalVenta,
                    tax: tax,
                    clientName: clientName,
                    detalleFactura: productos
                }
            };


            let url = '@Url.Content("~/Ventas/Agregar")';

            $.post(url, data).done(function (dt) {
                alert(dt);
                location.href = '@Url.Action("Index", "Servicios")';
            });



        });

    });


</script>

<h2>Crear Venta</h2>

<div class="container">

    <form id="ventas">

        <div class="row">

            <div class="col-6 border-end">
                <div class="row mt-3">
                    <div class="col">
                        <label class="form-label">Fecha</label>
                        @Html.TextBox("fecha", "", new { @Value = @DateTime.Now.ToShortDateString(), @readonly = "readonly" })
                    </div>
                    <div class="col">
                        <label class="form-label">Cliente</label>
                        @Html.TextBox("clientName", "Cliente Final")
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="row">
                    <div class="col">
                        <label class="form-label">Sub Total</label>
                        @Html.TextBox("subTotalVenta", "", new { disabled = "disabled", @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="form-label">ISV</label>
                        @Html.TextBox("isv", "", new { disabled = "disabled", @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="form-label">Total</label>
                        @Html.TextBox("totalVenta", "", new { disabled = "disabled", @class = "form-control" })
                    </div>
                </div>
            </div>

        </div>

        <hr class="text-black-50" />
        <div>
            <h3>Productos</h3>
        </div>

                        

        <hr class="text-black-50" />

        <div class="col-6">
            <div class="row">
                <div class="col d-flex">
                    <input name="search" id="search" type="search" class="form-control form-control-sm rounded" placeholder="Buscar por codigo" aria-label="Search" aria-describedby="search-addon" />
                    <button class="btn btn-sm btn-success" type="button" id="searchBnt" name="searchBtn">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <label class="form-label">ID</label>
                    @Html.TextBox("idProduct", "", new { disabled = "disabled", @class = "form-control form-control-sm" })
                </div>
                <div class="col">
                    <label class="form-label">Nombre</label>
                    @Html.TextBox("nombreProduct", "", new { disabled = "disabled", @class = "form-control form-control-sm" })
                </div>
                <div class="col">
                    <label class="form-label">Precio</label>
                    @Html.TextBox("precioProduct", "", new { disabled = "disabled", @class = "form-control form-control-sm" })
                </div>
                <div class="col">
                    <label class="form-label">Cantidad</label>
                    @Html.TextBox("cantProduct", "1", new { @class = "form-control form-control-sm" })
                </div>
                <div class="col">
                    <label></label>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-sm btn-success" id="addProducto">Agregar</button>
                    </div>
                </div>
            </div>
        </div>

        <hr class="text-black-50" />


        <div style="display: inline-block; width: 50%;">
            <div class="container text-center" id="productsAdded">
                <table class="table table-hover table-sm" id="tblProductos">
                    <thead>
                        <tr>
                            <th>Descripci&oacute;n</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Sub Total</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <hr class="text-black-50" />

        <div>
            <button type="button" id="crearVenta" class="btn btn-primary">Crear</button>
        </div>

        <hr class="text-black-50" />



    </form>


    </div>