
@{
    ViewBag.Title = "Citas";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    List<Proyecto_Web_Ingenieria_de_Software.Models.Appointment> citas = (List<Proyecto_Web_Ingenieria_de_Software.Models.Appointment>)ViewBag.Citas;
}

<link rel="stylesheet" href="~/Content/styleModuloCitas.css" />

<div class="CitasDiv  mb-5 p-5">
    <div class="row">
        <div class="col-8">
            <h1 class="t-stroke">Citas</h1>
        </div>
        <div class="col-4 d-flex justify-content-end">
            <button class="btn btn-success" onclick="document.location.href = '@Url.Content("~/Citas/Agregar")'">Nueva Cita</button>
        </div>
    </div>
    <hr class="text-black-50" />
    <div class="row mt-2">
        <div class="col">
            <div class="d-flex">
                <input type="search" class="form-control" id="Buscar" placeholder="Buscar por cliente">
                <button id="btnBuscar" type="button" class="btn btn-success"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <div>
                <div class="col mt-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="fiterStatus" id="todas" value="Todas">
                        <label class="form-check-label" for="todas">Todas</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="fiterStatus" id="pendiente" value="Pendiente">
                        <label class="form-check-label" for="pendiente">Pendientes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="fiterStatus" id="cancelada" value="Cancelada">
                        <label class="form-check-label" for="cancelada">Canceladas</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="fiterStatus" id="completada" value="Completada">
                        <label class="form-check-label" for="completada">Completadas</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <label class="form-label">Filtrar por fecha</label>
            <input id="inputDate" type="date" class="form-control" />
            
        </div>
    </div>
    <hr class="text-black-50" />
    <div class="table-responsive mt-3">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">Cliente</th>
                    <th scope="col">Numero</th>
                    <th scope="col">Fecha</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in citas)
                {
                    <tr>
                        <td>@c.ClientName</td>
                        <td>@c.PhoneNumber</td>
                        <td>@c.AppointmentDate</td>
                        <td>
                            <button class="btn btn-sm btn-primary" onclick="document.location.href = '@Url.Content("~/Citas/Detalle/")' + @c.ID">Detalles</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


